@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;

 
}
.hero{
  
  background: linear-gradient(to top, #818CF8, #ffffff);
  
}
.HeaderNavigation{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  /* background-color: pink; */
  margin: auto;
}
.image{
padding-top: 8px;
}
.list{
  list-style: none;
  display: flex;
  gap: 32px;
  font-weight: 700;
  font-size: 16px;
color: #475569;
line-height: 22px;
}
.button{
  gap: 8px;
}
.btn{
 border-radius: 80px; 
 padding: 12px 20px;
 border: 1px solid #CBD5E1 ;
 background-color: #ffff;
 font-weight: 700;
 font-size: 16px;
color: #475569;
line-height: 22px;
margin-left: 4px;
}
.btn:hover{
 background-color: #4F46E5;
 color: #ffff;
 transform: scale(1.05);
 transition:  0.3s ease;
}
.hero-section{
  padding: 96px 112px;
  /* background-color: palegreen; */
  text-align: center;
  
  
}
.hero-p{
  font-weight: 600;
 font-size: 14px;
color: #4F46E5;
line-height: 20px;
padding: 10px 15px;
border-radius: 30px;
background: #EEF2FF;
width:200px;
align-items: center;
text-align: center;
justify-content: center;

display: flex;
margin: auto;
}
.hero-h{
  font-size: 60px;
  font-weight: 800;
  color: #475569;
}
.hero-p2{
  font-size: 18px;
  font-weight: 400;
  color: #475569;
  padding-top: 24px;
line-height:30px;
}
.parent-container{
  display: inline-flex;
  gap: 10px;
  margin-top: 60px;
 
  
}
.app-download-button{

    border: 1px solid #64748B;
    background-color: black;
    color: #FFFFFF;
    width: 210px;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: left;
    display: flex;
   line-height: 25px;
    align-items: center;
    margin: 0 auto;
      
}
.app-download-button-pic{
  width: 30px;
  margin-right: 10px;
  
  
}
.app-download-button-h{
  font-size: 25px;
  height: 18px;
}
.img-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-top: 40px;

}

.img-desktop {
  width: 90%;
 
  
  display: block;
  margin: 0 auto;
}

.img-screen {
  position: absolute;
  right:110px;
  bottom: 120px;
 min-height: 650px;
 
}

.social-proof {
  background-color: #F8FAFC;
  margin: 0 auto;
  
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  gap: 2rem; 
  padding: 2rem; 
}


.social-proof > div {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem; 
  justify-content: center;
  max-width: 100%; 
}


.social-proof svg {

  width: 150px; 
  height: auto;
}
.Features{
  padding: 100px;
  text-align: center;
}
.features-a{
  padding-top: 30px;
  font-size: 36px;
  font-weight: 800;
  color: #1E293B;
}
.features-p{
  font-size: 20px;
  font-weight: 400;
  color: #475569;
padding:28px;
line-height: 32px;
}
.feature-card {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  padding: 32px 24px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(79, 70, 229, 0.15);
}

.icon-wrapper {
  margin-bottom: 20px;
}

.feature-title {
  font-size: 20px;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 12px;
}

.feature-description {
  font-size: 16px;
  color: #64748b;
  line-height: 1.6;
  padding-bottom: 50px;
}

.statistics-section {
  padding: 40px 20px;
  background-color: #F8FAFC;
  display: flex;
  justify-content: center;
  text-align: center;
}

.stat-card {
  max-width: 800px;

  border-radius: 12px;
  padding: 32px;
  
  text-align: center;
}

.stat-icon {
  margin: 0 auto 16px;
}

.stat-title {
  font-size: 36px;
  font-weight: 800;
  color: #1E293B;
  margin-bottom: 16px;
  white-space: nowrap;
 text-align: center;
 display: inline-block;
}

.stat-description {
  color: #475569;
  margin-bottom: 32px;
  line-height: 1.6;
}

.stat-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
}

.stat-box h1 {
  font-size: 60px;
  font-weight: 700;
  color: #4F46E5;
  margin-bottom: 4px;
}

.stat-box p {
  font-size:18px;
  color: #475569;
  font-weight: 700;
}

/* .features-subtitle p{
  font-weight: 600;
 font-size: 14px;
color: #4F46E5;
line-height: 20px;
padding: 10px 15px;
border-radius: 30px;
background: #EEF2FF;
width:200px;
align-items: center;
text-align: center;
justify-content: center;

display: flex;
margin: auto;
} 
*/
.features-section{
  width: 90%;
  margin: 0 auto;
  padding: 60px 0px;
}
 .features-subtitle{
  text-align: left;
 
 }
 .features-subtitle-p{
  font-weight: 600;
 font-size: 14px;
color: #4F46E5;
line-height: 20px;
padding: 5px 5px;
border-radius: 30px;
background: #EEF2FF;
width:100px;
align-items: center;
text-align: center;
justify-content: center;

display: flex;

 }


 .main{
  display: flex;
 align-items: center;
 justify-content: space-between;
 
 }











@media (max-width: 768px) {
  .img-screen {
    width: 80px;
    right: 10px;
    bottom: 10px;
  }
}

